* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C4D47F;
  box-sizing: border-box;
  
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  color:#303030;
}



p, 
span,
input,
select,
a,
label,
textarea{
  font-family: 'Inter', Helvetica;
  color:#303030;
}
select::-ms-expand {
  margin-right: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
