.container {
    width: 100%;
    position: relative;
}

.buttons {
    position: absolute;
    bottom: 2rem;
    right: 30%;
    display: flex;
}

.buttons > * {
    margin-left: 10px;
    margin-right: 10px;
}

.recipesContainer {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

@media only screen and (max-width: 769px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .buttons {
        position: static;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}





