.container {
    height: 100vh;
    width: 70%;
    background-color: #F0F0F3;
    padding: 0 4rem;
    padding-bottom: 4rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.container > * {
    margin-top: 1rem;
}

.container::-webkit-scrollbar,
.summary::-webkit-scrollbar,
.inputSteps::-webkit-scrollbar {
    width: 6px;
}

.container::-webkit-scrollbar-thumb,
.summary::-webkit-scrollbar-thumb,
.inputSteps::-webkit-scrollbar-thumb  {
    background-color: #303030;
    border-radius: 6px;
}

.error {
    border-color: #EB5757!important;
}

.header {
    margin-top: 5rem;
}

.title {
    padding: 1rem 3rem;
    border-radius: 0;
    font-size: 64px;
    font-family: 'Lora';
    color: #303030;
    border-color: #30303056;
    background-color: #F0F0F3;
}

.healthScore {
    width: 3rem;
}

.summary {
    color: #303030;
    border-color: #30303056;
    background-color: #F0F0F3;
    font-size: 24px;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 70vh;
    height: 30vh;
}


.inputSteps {
    width: 100%;
}

.diet{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.label {
    font-weight: 600;
    margin: 0 8px;
} 

.checkbox {
    margin-right: 1rem;
}

@media only screen and (max-width: 769px) {

    .container {
        width: 100%;
    }

    .title {
        width: 100%;
    }

    .summary {
        width: 100%;
    }

    .button {
        width: 100%;
    }
}